:root {
    color: rgb(0, 0, 0);
    font-family: Verdana, sans-serif;
    font-size: 11pt;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    flex-grow: 1;
}

body>nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 184, 184);
    font-size: 12pt;
    font-weight: 700;
}

body>nav>a {
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: inherit;
}

body>nav>a:hover {
    background-color: rgb(208, 208, 208);
}

body>header {
    width: 100%;
    height: fit-content;
    padding: 1em 0px 1em 0px;
    text-align: center;
    background-color: rgb(239, 239, 239);
    font-size: 3rem;
    font-weight: 700;
}

body>main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

body>main>section {
    border: 8px ridge lightgray;
    width: 50%;
    height: fit-content;
    line-height: 1.5em;
    padding: 5px;
    margin-bottom: -8px;
}